<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <div id="app">
    xxxxx
    {{ msg }}{{ msg }} helloworld
    <p>
      段落
    </p>
  </div> -->
  
  <script src="../dist/vue.js"></script>

  <!-- vue2 中可以选择性的添加 runtimeOnly 只在运行时使用（无法解析用户传递的
    template 属性），runtime with compiler（可以实现模板编译的） -->
  <script>
    // Vue.minin Vue.extend... 静态方法
    // Vue.mixin({
    //   // 合并策略非常多
    //   // 生命周期的合并策略
    //   a: { a: 1 },
    //   b: 2,
    //   created() {
    //     console.log( 'created 1' );
    //   },
    //   beforeCreate() {
    //     console.log( 'beforeCreate 1' );
    //   }
    // });
    // Vue.mixin({
    //   // 合并策略非常多
    //   // 生命周期的合并策略
    //   a: { b: 2 },
    //   c: 3,
    //   created() {
    //     console.log( 'created 1' );
    //   },
    //   beforeCreate() {
    //     console.log( 'beforeCreate 1' );
    //   }
    // });
    // const vm = new Vue({
    //   el: "#app",
    //   // 数据会被观测，我们对数据操作可以更新视图
    //   // 对对象的所有属性使用 defineProperty 进行重新定义 get 和 set
    //   data() {
    //     return {
    //       msg: 'zf',
    //       age: 11,
    //       a: {
    //         a: 1
    //       },
    //       arr: [1,2,3,4]
    //     }
    //   },
    //   created() {
    //     console.log( 'inner created' );
    //   }
    // });
    // setTimeout(() => {
    //   // 给每个属性增加一个 dep 属性，这个属性里包含多个 watcher
    //   vm.msg = 'ys'; // 记录一下当前这个 msg 对应一个 watcher
    //   vm.msg = 'ys1';
    //   vm.msg = 'ys2';
    //   vm.msg = 'ys3';
    //   vm.msg = 'ys4';
    //   vm.$nextTick(() => {
    //     console.log( app.innerHTML );
    //   });
    // }, 1000);
    // Vue 中的异步更新策略
    // vue 中实现了响应式系统
  </script>
</body>
</html>